{{/* Global Organization Schema – uses "Organization" which Google supports for Rich Results */}}
{{ $org := dict
  "@context" "https://schema.org"
  "@type" "Organization"
  "name" .Site.Title
  "url" (print .Site.BaseURL)
  "logo" (dict "@type" "ImageObject" "url" (.Site.Params.logo | absURL))
  "description" .Site.Params.description
  "address" (dict "@type" "PostalAddress" "streetAddress" .Site.Params.footer.address)
  "contactPoint" (dict "@type" "ContactPoint" "contactType" "customer service" "email" .Site.Params.footer.email)
}}
{{ printf `<script type="application/ld+json">%s</script>` ($org | jsonify) | safeHTML }}

{{/* ItemList Schema for "aktuelles" section (list page) – enables Google carousel */}}
{{ if and (eq .Type "aktuelles") (not .IsPage) }}
{{ $items := slice }}
{{ $pos := 1 }}
{{ range (where .Site.RegularPages "Type" "aktuelles") }}
  {{ $items = $items | append (dict "@type" "ListItem" "position" $pos "url" (print .Permalink)) }}
  {{ $pos = add $pos 1 }}
{{ end }}
{{ $itemList := dict
  "@context" "https://schema.org"
  "@type" "ItemList"
  "itemListElement" $items
}}
{{ printf `<script type="application/ld+json">%s</script>` ($itemList | jsonify) | safeHTML }}
{{ end }}

{{/* Article Schema for "aktuelles" posts */}}
{{ if and (eq .Type "aktuelles") .IsPage }}
{{ $image := .Site.Params.ogImage | absURL }}
{{ with .Params.image }}{{ $image = . | absURL }}{{ end }}
{{ $article := dict
  "@context" "https://schema.org"
  "@type" "Article"
  "headline" .Title
  "datePublished" (.Date.Format "2006-01-02T15:04:05-07:00")
  "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")
  "author" (dict "@type" "Organization" "name" .Site.Title "url" (print .Site.BaseURL))
  "publisher" (dict "@type" "Organization" "name" .Site.Title "logo" (dict "@type" "ImageObject" "url" (.Site.Params.logo | absURL)))
  "description" ((.Description | default (.Summary | plainify)) | truncate 160)
  "image" (slice $image)
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" (print .Permalink))
}}
{{ printf `<script type="application/ld+json">%s</script>` ($article | jsonify) | safeHTML }}
{{ end }}

{{/* Event Schema for Termine */}}
{{ if and (eq .Type "termine") .IsPage }}
{{ with .Params.event_date }}
{{ $image := $.Site.Params.logo | absURL }}
{{ with $.Params.image }}{{ $image = . | absURL }}{{ end }}
{{ $event := dict
  "@context" "https://schema.org"
  "@type" "Event"
  "name" $.Title
  "startDate" (print .)
  "eventStatus" "https://schema.org/EventScheduled"
  "eventAttendanceMode" "https://schema.org/OfflineEventAttendanceMode"
  "location" (dict "@type" "Place" "name" ($.Params.location | default "Schirnding") "address" (dict "@type" "PostalAddress" "addressLocality" "Schirnding" "addressCountry" "DE"))
  "image" (slice $image)
  "description" ($.Summary | plainify | truncate 160)
  "organizer" (dict "@type" "Organization" "name" $.Site.Title "url" (print $.Site.BaseURL))
}}
{{ printf `<script type="application/ld+json">%s</script>` ($event | jsonify) | safeHTML }}
{{ end }}
{{ end }}

{{/* Breadcrumb Schema */}}
{{ $breadcrumbs := slice (dict "@type" "ListItem" "position" 1 "name" .Site.Title "item" (print .Site.BaseURL)) }}
{{ if not .IsHome }}
  {{ $breadcrumbs = $breadcrumbs | append (dict "@type" "ListItem" "position" 2 "name" .Title "item" (print .Permalink)) }}
{{ end }}
{{ $bc := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $breadcrumbs }}
{{ printf `<script type="application/ld+json">%s</script>` ($bc | jsonify) | safeHTML }}
